/* Reset default margin and padding for the whole document */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

/* All the CSS style for the logo */
header {
  margin-bottom: 100px;
}
img {
  max-width: 100%;
}

@keyframes rotateLogo {
  0%, 100% {
    transform: rotate(0deg);
  }
  5%, 95% {
    transform: rotate(0deg);
  }
  10%, 90% {
    transform: rotate(360deg);
  }
  15%, 85% {
    transform: rotate(360deg);
  }
}

.logo_container {
  width: 1000px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_ens {
  max-width: 100%;
  height: auto;
  animation: rotateLogo 10s linear infinite;
  transition: transform 1s ease;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  border: 2px solid #333;
  padding: 10px; /* Add padding for visual spacing */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.cell:hover {
  background-color: #ec8080;
}

.fixed-cell {
  background-color: #b9ddf4;
}

.cell.valid {
  background-color: #ffffff;
}

.cell.invalid {
  background-color: #ff2f2f;
}

#keyboard {
  position: absolute;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(4, 82, 98, 0.8);
  padding: 5px;
  border-radius: 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}

.keyboard-button.x-button {
  align-self: center;
}
