/* Reset default margin and padding for the whole document */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

/* All the CSS style for the logo */
header {
  margin-bottom: 100px;
}
img {
  max-width: 100%;
}

@keyframes rotateLogo {
  0%,
  100% {
    transform: rotate(0deg);
  }
  5%,
  95% {
    transform: rotate(0deg);
  }
  10%,
  90% {
    transform: rotate(360deg);
  }
  15%,
  85% {
    transform: rotate(360deg);
  }
}

.logo_container {
  width: 1000px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_ens {
  max-width: 100%;
  height: auto;
  animation: rotateLogo 10s linear infinite;
  transition: transform 1s ease;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  border: 2px solid #333;
  padding: 10px; /* Add padding for visual spacing */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.cell:hover {
  background-color: #ec8080;
}

#fixed-cell {
  background-color: #b9ddf4;
}

.cell.valid {
  background-color: #ffffff;
}

.cell.invalid {
  background-color: #ff2f2f;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(4, 82, 98, 0.8);
  padding: 5px;
  border-radius: 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}

#keyboard {
  position: absolute;
}

.keyboard-button.x-button {
  align-self: center;
}

#completion-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  color: black;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  z-index: 9999;
}

#completion-time {
  font-weight: bold;
}

.sidebar{
  height: 100%;
  width: 300px; /* Adjust the width as needed */
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding-top: 20px;
  padding-left: 10px;
  color: #fff;
  opacity: 0.8;
  border-radius: 2.5%;
}

.sidebar.closed{
  right: -350px;
}

.form-control {
  display: block;
  width: 80%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}